/*home page stylesheet*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .petCard {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -125%);
  }
  
  .petCard-Link {
    display: flex;
    flex-direction: row; /* Change flex-direction to row */
    align-items: center;
    justify-content: center;
    width: 100%; /* Adjust the width using percentage */
    height: auto; /* Adjust the height automatically based on the image aspect ratio */
    margin-right: 2%; /* Adjust the margin using percentage */
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #8333c0;
    font-size: 5vw; /* Adjust the font-size using viewport width (vw) */
    text-decoration: none;
    transition: transform 0.9s ease-in-out;
  }
  
.video-container iframe {
  border: none; /* Remove iframe border */
}

.video-container {
  display: flex;
  justify-content: space-between;
}

.video-container iframe {
  position: absolute;
  width: 30vw; /* Adjust the width using viewport width (vw) */
  height: 10vw; /* Adjust the height using viewport width (vw) */
  border-radius: 20px; /* Remove iframe border */
}

.left-video {
  order: 1; /* Display on the left */
  left: 0;
  /* Adjust the top value using viewport height (vh) */
}

.right-video {
  order: 2; /* Display on the right */
  right: 0;
 /* Adjust the top value using viewport height (vh) */
}


  .petCard-Link:hover {
    transform: scale(1.1); /* Apply a scale effect on hover */
    color: #FFA000; 
  }

  .petCard-Link i {
    transition: color 0.3s ease; /* Add a transition effect to the icon color */
  }

  .petCard-Link:hover i {
    color: #FFA000; /* Change the icon color on hover */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .petCard-Name {
    margin-top: 10px; 
    font-size: 1rem; 
    text-align: left; 
  }
  
  /* Adjust the image as desired */
  #hero {
    background-image: url(secondaryAssests/image/img-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px; 
    width: 100%;
    position: relative;
  }
  .personality-test-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 70px;
    background-color: #FFC107;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .personality-test-btn:hover {
    background-color: #FFA000;
    transform: scale(1.1); /* Apply scale effect on hover */
  }
  
  .personality-test-btn i {
    margin-right: 5px;
  }

  
  .footer-wrapper {
    background-color: #d892dc;
      padding: 5px; 
  }
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  
  .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    margin-right: 40px;
  }
  
  .footer-links a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    background-color: transparent;
    color: rgb(48, 48, 174);
    text-decoration: none;
    font-size: 16px; /* Adjust the font size as desired */
    transition: color 0.3s ease, transform 0.3s ease;
  }
  .footer-links i:hover {
    transform: scale(1.5);
    color: white;
  }
  .footer-links a:hover {
    color: white;
  }
  
  .footer-links i {
    font-size: 25px;
    margin-right: 5px;
    color: black;
  }
  
  
  .footer-disclaimer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
  }
  
  .footer-disclaimer p {
    margin: 0 5px; 
    font-size: 12px; 
    color: #777;
  }
  
  .footer-disclaimer a {
    text-decoration: none;
    margin-right: 10px; 
  }
  
  .newsletter-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px; 
  }
  

  
  .newsletter-form input{
    padding: 8px 16px; 
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px; 
    cursor: pointer;
  }
  
  
  .newsletter-form input[type="submit"]:hover {
    background-color: #555;
    color: white;
  }
  .navbar-nav .dropdown-menu {
    text-align: center;
  }
  
  .navbar-nav .dropdown-menu a {
    display: block;
    padding: 0.5rem 1rem;
    clear: both;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center; /* Center align the text */
    text-decoration: none;
  }
  
  .navbar-nav .dropdown-menu .chewy-link {
    display: flex;
    align-items: center;
    justify-content: center; /* Center align the content */
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
  }
  
  .navbar-nav .dropdown-menu .chewy-link i {
    margin-right: 0.5rem;
    margin-bottom: 5px;
  }
  
